<template>
  <div class="container">
    <md-field>
      <label>Title</label>
      <md-input v-model="intetrnalTitle"></md-input>
    </md-field>
    <!-- TODO: follow this -> https://github.com/vuematerial/vue-material/issues/2285 for having the bad_input error solved -->
    <md-field>
      <label for="color">Color</label>
      <md-select v-model="internalColor" name="color" id="color">
        <md-option value="blue">Blue</md-option>
        <md-option value="red">Red</md-option>
        <md-option value="orange">Orange</md-option>
        <md-option value="green">Green</md-option>
      </md-select>
    </md-field>
    <div class="actions">
      <md-button class="md-icon-button" @click="onSave">
        <md-icon>save</md-icon>
      </md-button>
      <md-button class="md-icon-button" @click="onClose">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddEditItem',
  props: ['title', 'color', 'id'],
  data: function () {
    return {
      intetrnalTitle: this.title,
      internalColor: this.color,
      interalId: this.id
    }
  },
  methods: {
    onClose () {
      this.$emit('on-close')
    },
    onSave () {
      this.intetrnalTitle &&
        this.$emit('on-save', {
          title: this.intetrnalTitle,
          color: this.internalColor,
          id: this.interalId
        })
    }
  }
}
</script>

<style>
.container {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: flex-end;
}
</style>
