<template>
  <md-card md-with-hover class="list-item" :class="color">
    <md-card-header>
      <md-card-header-text>
        <div v-if="isEditing">
          <AddEditItem
            :title="title"
            :color="color"
            :id="id"
            @on-close="isEditing = false"
            @on-save="saveEditItem"
          />
        </div>
        <div v-else>
          <div class="md-title">{{ title }}</div>
        </div>
      </md-card-header-text>
    </md-card-header>

    <md-card-actions>
      <div v-if="!isEditing">
        <md-button class="md-icon-button" @click="isEditing = true">
          <md-icon>edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" @click="deleteItem">
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </md-card-actions>
  </md-card>
</template>

<script>
import AddEditItem from './AddEditItem'

export default {
  name: 'TaskItem',
  props: ['title', 'color', 'id'],
  components: {
    AddEditItem
  },
  data: () => ({
    isEditing: false
  }),
  methods: {
    saveEditItem: function (data) {
      console.log('saveEditItem', data)
      this.isEditing = false
      this.$emit('on-edit', data)
    },
    deleteItem: function () {
      console.log(this.id)
      this.$emit('on-delete', this.id)
    }
  }
}
</script>

<style scoped>
.list-item {
  margin-bottom: 10px;
}
/* TODO - make this more elegant */
.red {
  background-color: #ff5252 !important;
  color: white !important;
}
.blue {
  background-color: #448aff !important;
  color: white !important;
}
.orange {
  background-color: #ff9800 !important;
  color: white !important;
}
.green {
  background-color: #81c784 !important;
}
</style>
