<template>
  <div class="md-layout md-gutter md-alignment-top">
    <div
      class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-100"
    >
      <TasksList title="Backlog" :tasks="allTasks.backlog" />
    </div>
    <div
      class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-100"
    >
      <TasksList title="Works for us" :tasks="allTasks.worksForUs" />
    </div>
    <div
      class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-100"
    >
      <TasksList title="Requires improvements" :tasks="allTasks.improvements" />
    </div>
    <div
      class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-100"
    >
      <TasksList title="Suggestions" :tasks="allTasks.suggestions" />
    </div>
  </div>
</template>

<script>
import TasksList from './TasksList'
export default {
  name: 'TaskBoard',
  props: ['allTasks'],
  components: {
    TasksList
  }
}
</script>

<style lang="scss" scoped>
@import '~vue-material/src/components/MdAnimation/variables';
@import '~vue-material/src/theme/engine';

.md-layout-item {
  height: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: 0.3s $md-transition-stand-timing;
}
</style>
