<template>
  <md-content class="md-elevation-3 list-container">
    <div class="list-title">
      <span class="md-title">{{ title }}</span>
    </div>
    <draggable group="tasks" :list="tasks">
      <TaskItem
        v-for="task in tasks"
        :key="task.id"
        :title="task.title"
        :id="task.id"
        :color="task.color"
        @on-edit="editItem"
        @on-delete="deleteItem"
      />
    </draggable>
    <div class="add-task">
      <AddEditItem
        v-if="isAddTask"
        @on-close="isAddTask = false"
        @on-save="saveItem"
      />
      <md-button
        v-else
        class="md-icon-button md-raised"
        @click="isAddTask = true"
      >
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </md-content>
</template>

<script>
import draggable from 'vuedraggable'
import TaskItem from './TaskItem'
import AddEditItem from './AddEditItem'
const { v4: uuidv4 } = require('uuid')

export default {
  name: 'TaksList',
  props: ['title', 'tasks'],
  components: {
    draggable,
    TaskItem,
    AddEditItem
  },
  data: () => ({
    isAddTask: false
  }),
  methods: {
    saveItem: function (data) {
      this.isAddTask = false
      this.tasks.unshift({
        ...data,
        id: uuidv4()
      })
    },
    editItem: function (data) {
      const index = this.tasks.findIndex(({ id }) => id === data.id)
      this.tasks[index].title = data.title
      this.tasks[index].color = data.color
    },
    deleteItem: function (deleteId) {
      const index = this.tasks.findIndex(({ id }) => id === deleteId)
      this.tasks.splice(index, 1)
    }
  }
}
</script>

<style>
.list-container {
  padding: 10px;
}
.list-title {
  margin: 0 0 20px 20px;
}
.add-task {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
</style>
