<template>
  <div class="page-container">
    <md-app md-waterfall md-mode="overlap">
      <md-app-toolbar class="md-primary md-large">
        <div class="md-toolbar-row">
          <div class="md-toolbar-section-end">
            <md-menu>
              <md-button class="md-icon-button" md-menu-trigger>
                <md-icon>more_vert</md-icon>
              </md-button>

              <md-menu-content>
                <md-menu-item @click="setDummy">Dummy Data</md-menu-item>
                <md-menu-item @click="resetBoard">Reset Board</md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </md-app-toolbar>

      <md-app-content class="hacked">
        <TasksBoard :allTasks="allTasks" />
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
.md-app {
  height: 100vh;
}
.hacked {
  background-color: transparent !important;
  box-shadow: none;
}
</style>

<script>
import TasksBoard from './components/TasksBoard'
import localStorage from './localStorage'
import dummyData from './dummyData'
const initialState = {
  backlog: [],
  worksForUs: [],
  improvements: [],
  suggestions: []
}
export default {
  name: 'a-scrum-board',
  components: {
    TasksBoard
  },
  data: () => ({
    allTasks: {}
  }),
  mounted: function () {
    this.allTasks = localStorage.fetch()
  },
  watch: {
    allTasks: {
      deep: true,
      handler: function () {
        localStorage.save(this.allTasks)
      }
    }
  },
  methods: {
    setDummy: function () {
      this.allTasks = dummyData
    },
    resetBoard: function () {
      this.allTasks = initialState
    }
  }
}
</script>
